.vscode/

compiler/runtime/
compiler/src/build/
compiler/src/compile_commands.json

manual_transformation/runtime/
manual_transformation/tests/*/Makefile
manual_transformation/benchmarks/*/Makefile
manual_transformation/benchmarks/*/test_correctness.sh

manual_transformation/pythonVirtualEnv